.card {
    margin: 100px;
    background-color: #074164;
    border-radius: 20px;
    align-content: center;
    padding-top: 10px;
    overflow: hidden;
}

.cardContent {
  margin: 50px 100px 50px 100px;
    overflow: hidden; 
}

.header {
    color: white;
    font-size: 70px;
}

.headerBlue {
    color: #00C9D1;
    font-size: 70px;
}

.descriptionLineOne {
    color: #00C9D1;
    font-size: 40px;
    margin-top: 40px;
}

.descriptionLineTwo {
    color: white;
    font-size: 40px;
    margin-top: 5px;
}

.underline {
    width: 500px;
    height: 2px;
    background-color: #00C9D1;
    margin-top: 5px;
}
